@keyframes wpc-spinner {
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes wpc-spinner {
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes matrix-wishlist-spinner {
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes matrix-wishlist-spinner {
  to {
    -webkit-transform: rotate(360deg); } }

.matrix-wishlist-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999989;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  font-size: 14px;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  box-sizing: border-box; }
  .matrix-wishlist-popup * {
    box-sizing: border-box; }
  .matrix-wishlist-popup table {
    margin: 0; }
  .matrix-wishlist-popup .matrix-wishlist-popup-body:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    visibility: hidden; }
  .matrix-wishlist-popup .matrix-wishlist-popup-body:after {
    width: 32px;
    height: 32px;
    display: block;
    margin-top: -16px;
    margin-left: -16px;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 8;
    -webkit-animation: matrix-wishlist-spinner 1s linear infinite;
    -moz-animation: matrix-wishlist-spinner 1s linear infinite;
    -ms-animation: matrix-wishlist-spinner 1s linear infinite;
    -o-animation: matrix-wishlist-spinner 1s linear infinite;
    animation: matrix-wishlist-spinner 1s linear infinite;
    opacity: 0;
    visibility: hidden; }
  .matrix-wishlist-popup .matrix-wishlist-popup-inner {
    display: block;
    width: 100%;
    height: 100%;
    position: relative; }
    .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content {
      width: 90%;
      max-width: 500px;
      height: auto;
      max-height: 90%;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      -webkit-transform: translate3d(-50%, -50%, 0);
      padding: 0;
      display: flex;
      flex-direction: column;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      border-radius: 4px;
      overflow: hidden; }
      .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content > div {
        align-self: stretch; }
      .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-header {
        flex: 0 0 auto;
        height: 48px;
        line-height: 48px;
        padding: 0 60px 0 20px;
        margin: 0;
        position: relative;
        color: #fff;
        font-weight: 700;
        background-color: #1877f2; }
        .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-header .matrix-wishlist-manage {
          color: #fff;
          margin-left: 5px;
          font-weight: 400;
          text-decoration: underline;
          cursor: pointer; }
        .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-header .matrix-wishlist-empty {
          color: #fff;
          margin-left: 5px;
          font-weight: 400;
          text-decoration: underline;
          cursor: pointer; }
        .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-header .matrix-wishlist-popup-close {
          display: inline-block;
          height: 48px;
          line-height: 48px;
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
          text-transform: none;
          color: #fff; }
          .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-header .matrix-wishlist-popup-close:before {
            display: inline-block;
            float: right;
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            font-size: 20px;
            speak: none;
            font-style: normal;
            font-variant: normal;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; }
      .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body {
        display: block;
        position: relative;
        min-height: 80px;
        flex: 1 1 auto;
        padding: 0;
        margin: 0;
        background-color: #fff;
        overflow-x: hidden;
        overflow-y: auto; }
        .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body .matrix-wishlist-popup-body-massage {
          display: block;
          padding: 20px;
          height: 40px;
          line-height: 40px;
          text-align: center; }
        .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body .matrix-wishlist-popup-body-message {
          display: block;
          padding: 20px 40px 40px 40px;
          font-size: 20px;
          text-align: center; }
          .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body .matrix-wishlist-popup-body-message img {
            display: block;
            width: 60%;
            height: auto;
            margin: 0 auto;
            opacity: .6; }
        .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body table.matrix-wishlist-items-table {
          margin: 0;
          padding: 0; }
          .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body table.matrix-wishlist-items-table tr {
            border-bottom: 1px solid #eee;
            background: #fff; }
            .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body table.matrix-wishlist-items-table tr td {
              vertical-align: middle;
              padding: 10px;
              background: #fff; }
              .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body table.matrix-wishlist-items-table tr td:first-child {
                padding-left: 20px; }
              .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body table.matrix-wishlist-items-table tr td:last-child {
                padding-right: 20px; }
          .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--remove {
            vertical-align: middle;
            width: 16px; }
            .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--remove span {
              display: inline-block;
              width: 16px;
              height: 16px;
              line-height: 16px;
              text-align: center;
              cursor: pointer; }
              .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--remove span:before {
                display: inline-block;
                font-size: 16px;
                speak: none;
                font-style: normal;
                font-variant: normal;
                text-transform: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale; }
              .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--remove span:hover:before {
                color: #cc6055; }
            .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--remove span.matrix-wishlist-removing:before {
              animation: matrix-wishlist-spinner 1s linear infinite;
              -webkit-animation: matrix-wishlist-spinner 1s linear infinite; }
          .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--image {
            width: 100px; }
            .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--image img {
              width: 80px;
              height: auto;
              border-radius: 2px;
              border: none;
              padding: 0;
              margin: 0;
              box-shadow: none; }
          .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--name {
            font-weight: 700; }
            .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--name a {
              font-weight: 700; }
          .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--add p {
            border: none;
            padding: 0;
            margin: 0; }
          .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-body table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--add .add_to_cart_inline {
            border: none;
            padding: 0;
            margin: 0; }
      .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-footer {
        flex: 0 0 auto;
        height: 48px;
        line-height: 48px;
        padding: 0 20px;
        position: relative;
        color: #fff;
        font-size: 14px;
        background-color: #1877f2;
        overflow: hidden; }
        .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-footer .matrix-wishlist-popup-footer-inner {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%; }
          .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-footer .matrix-wishlist-popup-footer-inner a {
            color: #fff;
            text-decoration: underline;
            outline: none;
            cursor: pointer; }
            .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-footer .matrix-wishlist-popup-footer-inner a:hover {
              color: #5fbd74; }
          .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-footer .matrix-wishlist-popup-footer-inner span {
            color: #fff;
            text-decoration: underline;
            outline: none;
            cursor: pointer; }
        .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-footer .matrix-wishlist-notice {
          display: block;
          text-align: center;
          width: 100%;
          height: 48px;
          line-height: 48px;
          padding: 0 20px;
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          background-color: #5fbd74;
          position: absolute;
          top: 50px;
          left: 0;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
        .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-footer .matrix-wishlist-notice.matrix-wishlist-notice-show {
          top: 0; }

.matrix-wishlist-popup.matrix-wishlist-loading .matrix-wishlist-popup-content {
  pointer-events: none; }

.matrix-wishlist-popup.matrix-wishlist-loading .matrix-wishlist-popup-body:before {
  opacity: 1;
  visibility: visible; }

.matrix-wishlist-popup.matrix-wishlist-loading .matrix-wishlist-popup-body:after {
  opacity: 1;
  visibility: visible; }

#matrix_wishlist_manage .matrix-wishlist-popup-inner .matrix-wishlist-popup-content {
  top: 60%; }

#matrix_wishlist_manage .matrix-wishlist-popup-body {
  padding: 10px 0; }

.matrix-wishlist-popup.matrix-wishlist-show {
  opacity: 1;
  visibility: visible; }
  .matrix-wishlist-popup.matrix-wishlist-show .matrix-wishlist-popup-inner .matrix-wishlist-popup-content {
    top: 50% !important; }

.matrix-wishlist-popup.matrix-wishlist-message .matrix-wishlist-popup-inner .matrix-wishlist-popup-content {
  background-color: #ffffff; }

.matrix-wishlist-popup.matrix-wishlist-message .matrix-wishlist-popup-body-message {
  display: block;
  padding: 20px 40px 40px 40px;
  font-size: 20px;
  text-align: center; }
  .matrix-wishlist-popup.matrix-wishlist-message .matrix-wishlist-popup-body-message img {
    display: block;
    width: 60%;
    height: auto;
    margin: 0 auto;
    opacity: .6; }

.matrix-wishlist-button.matrix-wishlist-added:before {
  content: '\2713';
  margin-right: 5px; }

.matrix-wishlist-button.matrix-wishlist-adding:after {
  content: '...' !important;
  display: inline-block !important; }

.matrix-wishlist-view-wishlist {
  font-weight: 700;
  cursor: pointer; }

.matrix-wishlist-new-wishlist {
  display: flex;
  align-items: center; }
  .matrix-wishlist-new-wishlist input {
    border-radius: 4px !important;
    height: 40px !important;
    line-height: 38px !important;
    padding: 0 10px !important;
    margin: 0; }
  .matrix-wishlist-new-wishlist input[type="button"] {
    margin-left: 10px; }

#matrix_wishlist_wishlist_name {
  flex-grow: 1; }

.matrix-wishlist-disable {
  opacity: .5;
  pointer-events: none; }

body.rtl .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-header {
  padding: 0 20px 0 60px; }
  body.rtl .matrix-wishlist-popup .matrix-wishlist-popup-inner .matrix-wishlist-popup-content .matrix-wishlist-popup-header .matrix-wishlist-popup-close {
    right: auto;
    left: 0; }

body.rtl .matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--note {
  border-left: none;
  border-right: 2px solid #222;
  padding-left: 0;
  padding-right: 10px; }

body.rtl .matrix-wishlist-list .matrix-wishlist-copy .matrix-wishlist-copy-url {
  margin-left: 0;
  margin-right: 10px; }

body.rtl .matrix-wishlist-list .matrix-wishlist-share .matrix-wishlist-share-label {
  margin-right: 0;
  margin-left: 10px; }

body.rtl .matrix-wishlist-list .matrix-wishlist-share a {
  margin-right: 0;
  margin-left: 10px; }

.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--note {
  padding-left: 10px;
  border-left: 2px solid #222;
  font-style: italic;
  font-size: 14px;
  cursor: pointer; }

.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--note-add {
  width: 100%;
  position: relative; }
  .matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--note-add input {
    height: 40px !important;
    line-height: 38px !important;
    padding: 0 10px !important;
    border-radius: 4px !important; }
  .matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--note-add input[type="text"] {
    width: 100%; }
  .matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--note-add input[type="button"] {
    position: absolute;
    top: 0;
    right: 0; }

.matrix-wishlist-list table.matrix-wishlist-items-table {
  margin: 0;
  padding: 0; }
  .matrix-wishlist-list table.matrix-wishlist-items-table tr {
    border-bottom: 1px solid #eee;
    background: #fff; }
    .matrix-wishlist-list table.matrix-wishlist-items-table tr td {
      vertical-align: middle;
      padding: 10px; }
  .matrix-wishlist-list table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--remove {
    vertical-align: middle;
    width: 16px; }
    .matrix-wishlist-list table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--remove span {
      display: inline-block;
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      cursor: pointer; }
      .matrix-wishlist-list table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--remove span:before {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .matrix-wishlist-list table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--remove span:hover:before {
        color: #cc6055; }
    .matrix-wishlist-list table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--remove span.matrix-wishlist-removing:before {
      animation: matrix-wishlist-spinner 1s linear infinite;
      -webkit-animation: matrix-wishlist-spinner 1s linear infinite; }
  .matrix-wishlist-list table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--image {
    width: 100px; }
    .matrix-wishlist-list table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--image img {
      width: 80px;
      height: auto;
      border-radius: 2px;
      border: none;
      padding: 0;
      margin: 0;
      box-shadow: none; }
  .matrix-wishlist-list table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--name a {
    font-weight: 700; }
  .matrix-wishlist-list table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--add p {
    border: none;
    padding: 0;
    margin: 0; }
  .matrix-wishlist-list table.matrix-wishlist-items-table .matrix-wishlist-item .matrix-wishlist-item--add .add_to_cart_inline {
    border: none;
    padding: 0;
    margin: 0; }

.matrix-wishlist-list .matrix-wishlist-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px; }

.matrix-wishlist-list .matrix-wishlist-copy {
  display: flex;
  align-items: center; }
  .matrix-wishlist-list .matrix-wishlist-copy .matrix-wishlist-copy-url {
    margin-left: 10px;
    margin-right: 0; }

.matrix-wishlist-list .matrix-wishlist-share .matrix-wishlist-share-label {
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
  text-decoration: none !important;
  font-style: normal !important; }

.matrix-wishlist-list .matrix-wishlist-share a {
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
  text-decoration: none !important;
  font-style: normal !important; }

.matrix-wishlist-menu-item .matrix-wishlist-menu-item-inner {
  position: relative; }
  .matrix-wishlist-menu-item .matrix-wishlist-menu-item-inner:after {
    content: attr(data-count);
    display: block;
    background-color: #e94b35;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    top: -10px;
    right: -10px; }

.matrix-wishlist-copy-button {
  font-size: 20px;
  margin: 0 5px;
  cursor: pointer; }

.spinner {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background: url("../images/loader.gif") no-repeat center center;
  background-size: 23px 23px; }

@media only screen and (max-width: 860px) {
  .matrix-wishlist-list .matrix-wishlist-actions {
    flex-direction: column;
    align-items: flex-start; } }

/*# sourceMappingURL=matrix-wishlist.css.map */